body{
    margin:5px;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.container{

    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250, auto));
    grid-auto-flow: dense;
    grid-gap:2px;
    justify-content: center;
    margin:0 auto;
    padding: 0;

    position: relative;
    
}

.message{
    text-align: center;
    line-height: 15px;
    font-size: 30px;
    display: flex;
    

    
    position: relative;
}

img{
    width: 50px;
    height: auto;
    margin: 4vh;
}

.text{
    
    
    border-style: solid;
    border-color: pink;
    background-color: pink;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    font-size: 10px;
    
    
}


.text2{
    
    border-style: solid;
    border-color: deepskyblue;
    background-color: deepskyblue;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    font-size: 10px;
  
    
}

.name{
    margin: auto;
    font-size: 15px;
    word-spacing: 10px;
   
}


